.box{
    height: 200px;
width: 200px;
display: flex;
justify-content: center;
align-items: center;

}

.primeira{
    background-color: red;
}

.segunda{
    background-color: yellow;
}

.terceira{
    background-color: green;
}

.quarta{
    background-color: blue;
}

.bloco{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    
}